.card {
    background-color: #f7f7f7;
}

.btn-outline-primary {
    color: #000;
    border-color: #c7b198;
}

.btn-outline-primary:active {
    background-color: #c7b198;
    border-color: #c7b198;
}

.btn-outline-primary:hover {
    background-color: #c7b198;
    border-color: #c7b198;
}